{% extends 'explorer/base.html' %}
{% block title %}&nbsp;|&nbsp;Budget Process{% endblock %}

{% block content %}
{% load static %}
<div class="jumbotron">
  <div class="container">
    <h1>The Budget Process</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>((Calendar widget goes here))</h3>
  </div>
  <div class="row">
    <h2>How Toronto's Budget Gets Made</h2>
    <p>
      The Toronto budget process begins with internal staff discussions and
      planning in May, and ends with final City Council Approval in February.
    </p>
    <p>
      Official public input begins in November with Budget committee meetings
      and public hearings.
    </p>
  </div>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title h2">Preliminary Budget Preparation</h2>
        <h5>May - June</h5>
        <p>
          Internal Staff work and consultations.
        </p>
        <p>
          This is a closed process, where only paid lobbyists and bagmen get
          to influence what goes on.
        </o>
        <p>
          Sucks for you!
        </p>
        <h3>How can I get Involved?</h3>
        <p>
          Buy a councillor!
        </p>
      </div>
      <div class="panel-body">
        <h5>Details go here</h5>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title h2">Internal Consultations</h2>
        <h5>June - October</h5>
        <p>
          Closed committee meetings to review initial budget proposals and
          finalize for presentation at open committee meetings.
        </p>
        <p>
          Theoretically, this process is closed to all but budget committee
          members and city staff.  But if you're a regular financial
          contributer to your councillor's re-election campaign, you can play a
          part here as well!
        </p>
        <h3>How can I get involved?</h3>
        <p>
          Bribe a city official!
        </p>
      </div>
      <div class="panel-body">
        <h5>Details go here</h5>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title h2">Budget Committee Review Meetings (open and closed)</h2>
        <h5>November - January</h5>
        <p>
          A series of Budget Committee meetings to go over preliminary staff
          estimates and allow councillors to blow hot air and pretend to care
          about the future of the city.
        </p>
        <p>
          Some meetings are open to the public and for public deputations.
        </p>
        <p>
          The meetings discussing graft are closed.
        </p>
        <h3>How can I get involved?</h3>
        <p>
          (list of open meeting dates, links to meetings, stuff on deupting
          at city council etc - probably a link to some part of other resources)
        </p>
      </div>
      <div class="panel-body">
        <h5>Details go here</h5>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title h2">Committee Meetings and Pubic Consultation</h2>
        <h5>November - January</h5>
        <p>
          Public and closed committee meetings to review and amend budget
        </p>
      </div>
      <div class="panel-body">
        <h5>Details go here</h5>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title h2">Final Council Hearings and Approval</h2>
        <h5>December - February</h5>
        <p>
          Public and closed committee meetings to review and amend budget
        </p>
      </div>
      <div class="panel-body">
        <h5>Details go here</h5>
      </div>
    </div>

  </div>
</div>

{% endblock %}
